.timeseries-options-container{
    display: flex;
    gap: .5em;
}

.timeseries-options-container > button{  /* get aria property*/
    font-size: 14px;
    padding-right: .5em;
    padding-bottom: 3px;
}

.timeseries-options-container > button:first-child  {  /* get aria property*/
    border-right: 1px solid rgba(128, 128, 128, 0.355);
}


.timeseries-container{
    padding: 1em;
}

.chart{
    margin-top: 1em;
}

@media(min-width: 40rem) {
    .timeseries-options-container{
        display: flex;
        gap: .5em;
        justify-content: center;
    }
    
    .chart {
        display: flex;
        margin-top: 1em;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
}